body {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    color: #000000;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 80px;
}

.search-form-container {
    position: relative;
}

.search-form {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 20px 0;
    background-color: rgb(145, 150, 238);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.search-input {
    display: block;
    width: 250px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.searchBtn {
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.searchBtn-icon {
    width: 20px;
    height: 20px;

    fill: rgb(145, 150, 238);
    transform: scale(1);
    transition: transform 300ms;
}



.searchBtn-icon:hover {
    transform: scale(1.2);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 15px;
    height: 100%;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-card {
    display: flex;
    width: 100%;
    /* height: auto; */
    height: 350px;
    background-color: #FFFFFF;
    flex-basis: calc((100% - 60px) / 4);
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

    transform: scale(1);
    transition: transform 300ms;
}

.photo-card:hover {
    transform: scale(1.05);
    transition: transform 300ms;
}

.info {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    gap: 10px;
    padding: 15px;

    font-size: 12px;
}

.info-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px
}

.searchBtn {
    cursor: pointer;
}

.load-more {
    display: block;
    margin: 25px auto;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: rgb(113, 131, 231);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.load-more:hover {
    background-color: rgb(63, 80, 171);
}

.load-more.is-hidden {
    display: none;
}

.warningText {
    color: rgb(175, 170, 170);
    text-align: center;
    margin: 20px 0;
}

.warningText.is-hidden {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    border-top: 3px solid rgb(113, 131, 231);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 15px auto;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader.is-hidden {
    display: none;
}

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbc7d1bd;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}